<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/main/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
		        	<li><a href="/main">Home</a></li>
		        	<li><a href="/main/about">About</a></li>
	        		<li><a href="/main/cv">CV</a></li>
	        		<li><a href="/main/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:hjb_zy@hotmail.com">email</a></li>
	        		<li><a href="https://jianbinghuang.github.io/main">github.com/jianbinghuang</a></li>
			</ul>
			</footer>
		</body>
	</html>
